.container{
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap:wrap ;
    /* height: 1000PX; */
    gap: 10px;
    border: 10px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    

}
#header{
flex: 100%;
background-color: aqua;
height: 50px;
display: flex;
align-items: center;
justify-content: center;
}
#slidebar{
flex-grow: 1;
background-color: aqua;
height: 350px;
display: flex;
align-items: center;
justify-content: center;
}
#content{
    flex-grow: 3;
    background-color: aqua;
    height: 350px;
    display: flex;
align-items: center;
justify-content: center;
}
#footer{
  flex: 100%;
  background-color: aqua;
  height: 40px;
  display: flex;
align-items: center;
justify-content: center;
}